[Unit]
Description=Logitech Configuration Daemon
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/logid
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
